<div class="row">
    <div class="container col-50">
        <h2 class="header">Input Barang</h2>
        <form action="/barangs" method="post" enctype="multipart/form-data">
            <!-- Nama Barang -->
            <div class="row">
                <div class="col-25">
                    <label for="nama_barang">Nama Barang</label>
                </div>
                <div class="col-50">
                    <input type="text" name="nama_barang" id="nama_barang">
                </div>
            </div>
            <!-- Jumlah Barang -->
            <div class="row">
                <div class="col-25">
                    <label for="jumlah">Jumlah Barang</label>
                </div>
                <div class="col-25">
                    <input type="number" name="jumlah" id="jumlah">
                </div>
            </div>
            <!-- Harga Satuan -->
            <div class="row">
                <div class="col-25">
                    <label for="harga_satuan">Harga Satuan</label>
                </div>
                <div class="col-25">
                    <input type="number" name="harga_satuan" id="harga_satuan">
                </div>
            </div>
            <!-- Tanggal Kadaluarsa -->
            <div class="row">
                <div class="col-25">
                    <label for="kadaluarsa">Tgl Kadaluarsa</label>
                </div>
                <div class="col-25">
                    <input type="date" name="kadaluarsa" id="kadaluarsa">
                </div>
            </div>
            <!-- Attachment -->
            <div class="row">
                <div class="col-25">
                    <label for="attachment">Attachment</label>
                </div>
                <div class="col-25">
                    <input type="file" name="attachment" id="attachment">
                </div>
            </div>
            <!-- Button -->
            <div class="row">
                <div class="col-25">
                    &nbsp;
                </div>
                <div class="col-25">
                    <button type="submit" class="btn primary">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>